<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAppointmentService" />
                <binding name="BasicHttpBinding_IDoctorService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/ServiceLayer/AppointmentService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAppointmentService"
                contract="AppointmentServiceRef.IAppointmentService" name="BasicHttpBinding_IAppointmentService" />
            <endpoint address="http://localhost:8080/ServiceLayer/DoctorService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDoctorService"
                contract="DoctorServiceRef.IDoctorService" name="BasicHttpBinding_IDoctorService" />
        </client>
    </system.serviceModel>
</configuration>