<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsClient.Properties.Settings.dmaj0914_3Sem_4_1ConnectionString"
            connectionString="Data Source=kraka.ucn.dk;Initial Catalog=dmaj0914_3Sem_4_1;Persist Security Info=True;User ID=dmaj0914_3Sem_4_1;Password=IsAllowed;MultipleActiveResultSets=True;Application Name=EntityFramework"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAdminService" />
                <binding name="BasicHttpBinding_IPasswordService" />
                <binding name="BasicHttpBinding_IDoctorService" />
                <binding name="BasicHttpBinding_IPatientService" />
                <binding name="BasicHttpBinding_IAppointmentService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/ServiceLayer/AdminService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAdminService"
                contract="AdminServiceRef.IAdminService" name="BasicHttpBinding_IAdminService" />
            <endpoint address="http://localhost:8733/ServiceLayer/PasswordService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPasswordService"
                contract="PasswordService.IPasswordService" name="BasicHttpBinding_IPasswordService" />
            <endpoint address="http://localhost:8080/ServiceLayer/DoctorService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDoctorService"
                contract="DoctorServiceRef.IDoctorService" name="BasicHttpBinding_IDoctorService" />
            <endpoint address="http://localhost:8080/ServiceLayer/PatientService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPatientService"
                contract="PatientService.IPatientService" name="BasicHttpBinding_IPatientService" />
            <endpoint address="http://localhost:8080/ServiceLayer/AppointmentService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAppointmentService"
                contract="AppointmentServiceRef.IAppointmentService" name="BasicHttpBinding_IAppointmentService" />
        </client>
    </system.serviceModel>
</configuration>
